# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "b188e71bb5b1828c1f5f2f4ff6964b3c"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "YOURFORWARDPROXY/"
